@import './general.scss';

/* || CAT CARD */

.bigCardParent {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--FS-4XS);
  color: var(--LAVENDER);
  font-family: var(--FF-CHAKRA);
  padding-bottom: 2rem;

  border: 1 black dashed;
}

.bigCard {
  position: relative;
  border-radius: var(--BR-XL);
  background-color: #35158c;
  width: 325px;
  height: 205px;
  z-index: 0;

  // border: 1px dashed black;
}

.card,
.frameChild {
  position: absolute;
  margin: 0 !important;
}

.card {
  // position: fixed;
  top: 25px;
  left: 0;
  border-radius: 18px;
  background-color: #8c69f3;
  width: 315px;
  height: 170px;
  z-index: 1;
}

.frameChild {
  top: 59px;
  left: 259px;
  width: 66px;
  height: 71.1px;
  z-index: 2;
}

.frameItem,
.cardLiner {
  position: absolute;
  margin: 0 !important;
  top: 0;
}

.frameItem {
  left: 114px;
  width: 145px;
  height: 123.1px;
  opacity: 0.9;
  z-index: 3;
}

.cardLiner {
  left: 0;
  border-radius: var(--BR-XL) 0 var(--BR-XL) var(--BR-XL);
  background-color: black;
  width: 55px;
  height: 205px;
  z-index: 4;
}

.barcode {
  top: 130px;
  left: 150px;
  width: 165px;
  height: 30px;
  z-index: 5;
  background-color: transparent !important;
  border: none !important;
}

.catImage,
.catType,
.barcode {
  position: absolute;
  // position: relative;
  margin: 0 !important;
}

.catType {
  bottom: 10px;
  left: 12px;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 6;
}

.catImage {
  top: 44px;
  left: 44px;
  width: 108px;
  height: 126px;
  object-fit: cover;
  z-index: 7;
}

.speciesContainer,
.species {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.species {
  margin: 0;
  position: relative;
  font-weight: 700;
  width: 36px;
  height: 12px;
}

.speciesContainer {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 17px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 8;
}

.available {
  color: #36ff25;
}

.statusContainer {
  line-break: anywhere;
  width: 100%;
}

.catName,
.status {
  margin: 0 !important;
  position: absolute;
  left: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 260px;
  flex-shrink: 0;
}

.status {
  top: 170px;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-space-mono);
  height: 25px;
  -webkit-text-stroke: 0.5px #000;
  z-index: 9;
  color: var(--color-black);
}

.catName {
  top: 7px;
  font-size: 15px;
  font-weight: 400;
  font-family: var(--FF-2P);
  color: #fff;
  justify-content: center;
  height: 15px;
  z-index: 10;
}

.planet,
.origin {
  font-weight: 600;
}

.planet {
  font-family: var(--FF-CHAKRA);
}

.originPlanet {
  display: block;
}

.aboutContainer {
  margin: 0 !important;
  position: absolute;
  top: 46px;
  left: 158px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  // width: 4.13rem;
  z-index: 11;
}

@media screen and (max-width: 420px) {
  .bigCardParent {
    align-items: center;
    justify-content: center;
  }
}
