@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Roboto:wght@300&family=Syne:wght@400;500;600&family=Tektur:wght@500&display=swap&family=Chakra+Petch:ital,wght@0,600;0,700;1,600&display=swap&family=Space+Mono:wght@700&display=swap&family=Press Start 2P:wght@400&display=swap');


/* || RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit
}

body,
form,
input,
button {
    border: none;
    outline: none;
}


/* || VARIABLES */

:root {
    /* FONTS */
    --FF-DM: 'DM-Sans', sans-serif;
    --FF-ROB: 'Roboto', sans-serif;
    --FF-SYNE: 'Syne', sans-serif;
    --FF-TEK: 'Tektur', cursive;
    --FF-CHAKRA: 'Chakra Petch';
    --FF-2P: 'Press Start 2P';
    --FF-SPACE-MONO: 'Space Mono';
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    --FS-4XS: 9px;


    /* COLORS */
    --FONT-COLOR: rgb(53, 21, 141);
    --FONT-COLOR-NAV: rgb(53, 21, 141);
    --FONT-COLOR-BUTTON: rgb(21, 8, 57);
    --ORANGE: rgb(254, 135, 88);
    --BGCOLOR-FADE: rgb(188, 184, 215);
    --BGCOLOR-FADE: rgb(154, 127, 234);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BGCOLOR: whitesmoke;
    --BGCOLOR-NAV: rgb(233, 229, 244);
    --BGCOLOR-FORM: whitesmoke;
    --LAVENDER: #e7e2f3;
    --PURPLE: rgb(103, 53, 245);
    --PURPLE-DARK: rgb(24, 31, 65);
    --FOOTER: rgba(53, 21, 141, 0.426);
    --HEADER-BGCOLOR: rgb(53, 21, 141);
    --LINK-HOVER: rgb(154, 127, 234);
    /* change */
    --LINK-ACTIVE: var(--ORANGE);
    --RESCUE-COLOR: var(--ORANGE);

    /* BORDERS */
    --BR-XL: 20px;

    /* STANDARD PADDING */
    --PADDING-NAV-TB: 1em;
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
    --PADDING-LINK: 0.5rem 1rem;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;

    /* OTHER */
    --NAV-MAX-WIDTH: 600px;

}

@media (prefers-color-scheme: dark) {
    :root {
        --FONT-COLOR: whitesmoke;
        --FONT-COLOR-NAV: whitesmoke;
        --FONT-COLOR-BUTTON: rgb(21, 8, 57);
        --ORANGE: rgb(254, 135, 88);
        --BGCOLOR-FADE: rgb(21, 8, 57);
        --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
        --BGCOLOR: rgb(53, 21, 141);
        --BGCOLOR-NAV: rgb(53, 21, 141);
        --PURPLE: rgb(103, 53, 245);
        --PURPLE-DARK: rgb(24, 31, 65);
        --FOOTER: rgb(188, 184, 215);
        --PURPLE-LIGHT: rgb(188, 184, 215);
        --HEADER-BGCOLOR: rgb(188, 184, 215);
        --LINK-HOVER: rgb(154, 127, 234);
        /* change */
        --LINK-ACTIVE: var(--ORANGE);
        --RESCUE-COLOR: var(--ORANGE);
    }
}

/* || UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.offscreenRelative {
    position: relative;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}


/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF-DM);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    display: flex;
    flex-direction: column;
    color: var(--FONT-COLOR);
    min-height: 100vh;
    margin: 0 auto;
    /* padding: var(--PADDING-SIDE); */
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 0.925rem;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: var(--FF-TEK);
}

h1,
h2 {
    letter-spacing: 0.1em;
}

a:any-link {
    text-decoration: none;
    color: var(--FONT-COLOR-NAV);
}

a:hover,
a:focus-visible {
    // color: ;
}

.navbarUl .activeLink a {
    color: var(--LINK-ACTIVE);
}

/* || NAVBAR */

.navbarContainer {
    box-sizing: border-box;
    width: 1170px;
    position: relative;
    margin: auto;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.navbar,
.navbar>.navbarContainer {
    max-height: 5rem;
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: var(--NAV-MAX-WIDTH)) {
        display: block;
    }
}

.navbar {
    background-color: var(--BGCOLOR-NAV);
    padding: var(--PADDING-NAV-TB) var(--PADDING-SIDE);
    /* border-bottom: 1px solid white;  remove later, just for separation purposes */

    .container {
        @media (min-width: 576px) {
            max-width: 540px;

        }

        @media (min-width: 768px) {
            max-width: 720px;
        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }
    }
}

.navbarHeader {
    display: flex;
    align-items: center;
    font-size: 1.25rem;

    @media (max-width: var(--NAV-MAX-WIDTH)) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        font-size: 1.05rem;
    }
}

.navbarMenu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;

    @media (max-width: var(--NAV-MAX-WIDTH)) {
        display: none;
        text-align: center;
    }

    &.active {
        display: flex !important;
    }

    .navbarUl {

        margin-left: auto;
        flex-direction: row;
        display: flex;
        padding-left: 0;
        padding-bottom: 0;
        list-style: none;

        @media (max-width: var(--NAV-MAX-WIDTH)) {
            width: 100%;
            display: block;
            margin-top: 1rem;
        }

        >li {
            >a {
                /* color: whitesmoke; */
                display: inline-block;
                padding: var(--PADDING-LINK);

                &:hover {
                    color: var(--LINK-HOVER);
                }
            }

            .activeLink {
                a {
                    color: var(--LINK-ACTIVE);
                }
            }
        }
    }
}

/* .navbar .navbar__header > a span {
    color: var(--RESCUE-COLOR);
} */

span {
    color: var(--RESCUE-COLOR);
}

.navbar .navbarHeader h4 {
    font-size: 1.25rem;

    @media (max-width: var(--NAV-MAX-WIDTH)) {
        font-size: 1.05rem;
    }
}


/* || HERO */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
}

/* .hero__fig, .hero__article {
    flex-basis: 50%;
    width: 100%;
} */

.heroArticle {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    /* align-items: center; */
}

.heroFig {
    flex-basis: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroH1 {
    /* display: block; */
    margin-bottom: 1rem;
    font-size: 2rem;
    justify-content: end;
}

.heroH1 span {
    font-size: 2.75rem;
}

.heroP {
    line-height: 1.5rem;
}

.heroImg {
    /* align-items: center; */
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;
    }

    .heroFig,
    .heroArticle {
        flex-basis: 100%;
    }
}


/* || MAIN */

.main {
    padding: 5rem;
}

.mainHome {
    padding: 3rem;
}

.mainSection {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

/* || CAT SEARCH */

.searchForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--HEADER-BGCOLOR);
    margin: 3rem;
    padding: 2rem;
    border-radius: 0.75rem;
}

.inputGroup,
.searchButton {
    flex-basis: 33.33%;
    /* margin: auto; */
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.inputGroup label {
    color: var(--BGCOLOR);
    display: block;
    margin-bottom: 1rem;
}

.inputGroup select,
.searchButton {
    width: 100%;
    padding: 20px;
    border-radius: 0.4rem;
    background-color: var(--BGCOLOR-FORM);
}

.searchButton {
    background-color: var(--RESCUE-COLOR);
    color: var(--FONT-COLOR-BUTTON);
}

@media (max-width: 600px) {
    .searchForm {
        flex-direction: column;
    }

    .inputGroup,
    .searchButton {
        flex-basis: 100%;
        /* Make the input groups take up the full width of the container */
    }
}


/* || CONTACT */

.contact {
    margin: 2em;
    padding: 2rem;
    background-color: var(--HEADER-BGCOLOR);
    border-radius: 1.5em;
}

.contactH2 {}

.contactForm {}

.contactFieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;

}

.contactP {
    margin: 1em;
    flex-basis: 33.33%;
}

.contactLabel {
    padding-bottom: .5em;
}

.contactInput {
    border: none;
    border-radius: .5em;
}

.contactTextarea {
    border: none;
}

.contactButton {
    border-radius: 0.5rem;
}




/* || FOOTER */

.footer {
    margin-top: auto;
    padding-bottom: var(--PADDING-TB);
    /* background-color: var(--HEADER-BGCOLOR); */
    color: var(--HEADER-BGCOLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}

.footer span {
    color: var(--FOOTER);
}

/* || CAT ITEM */

// .idContainer {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding-bottom: 2.5rem;
// }

// .idCard {
//     background-color: var(--HEADER-BGCOLOR);
//     // border: solid black;
//     height: 447px;
//     width: 303px;
//     border-radius: 20px;
//     display: flex;
//     align-items: center;
// }

// .idCardInner {
//     background-color: #8C69F2;
//     height: 378px;
//     width: 263px;
//     border-radius: 17px;
// }

// /* card border */
// .cardBorder {
//     position: absolute;
//     width: 314.91px;
//     height: 500px;
//     background: #35158C;
//     border-radius: 20px;
//     transform: rotate(-90deg);
// }

// /* card */
// .card {
//     position: absolute;
//     width: 273px;
//     height: 428px;
//     background: #8C69F2;
//     border-radius: 17px 0px 17px 17px;
//     // transform: rotate(-90deg);
// }

// /* top liner */

// .topLiner {
//     position: absolute;
//     width: 315px;
//     height: 103px;

//     background: #000000;
//     border-radius: 20px 20px 0px 0px;
//     // transform: rotate(-90deg);
// }



// /* Vector */

// .barcode {
//     position: absolute;
//     width: 67px;
//     height: 217px;

//     background: #000000;
//     border: 0.35px solid #000000;
//     // transform: rotate(-90deg);
// }

// /* species: */

// .species {
//     position: absolute;
//     width: 59px;
//     height: 20px;

//     font-family: 'Chakra Petch';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 15px;
//     line-height: 20px;
//     /* identical to box height */
//     display: flex;
//     align-items: center;

//     color: #E7E2F3;
// }
